.subscribe-button {
  background-color: red;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  margin-top: 20px;
  transition: opacity 0.15s;
}
.subscribe-button:hover {
  opacity: 0.6;
}

.join-button {
  background-color: white;
  color: Blue;
  border: solid 1px blue;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 20px;
  margin-top: 20px;
  transition: opacity 0.15s;
}
